.App {
  text-align: center;
}

.main-body{
  min-height: 100vh;
  background-color: #fff;
}

.heading{
  text-decoration: underline;
  font-weight: 500;
  font-size: 3rem;
}

.date-head{
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 1.7rem;
  width: fit-content;
}

.add-btn{
  border: yellow 2px solid;
  padding: 10px 20px;
  color: rgb(165, 165, 0);
  background-color: rgb(255, 255, 142);
}

input{
  border: none;
  border-bottom: grey solid 2px;
  outline: none;
}
